# Performance test results

Brief description of the used server (choose one): HTTP/2

Brief description of your computer: window 11; RAM: 12Gb ; Disk: 256Gb SSD

K6 options: duration - 10s, vus - 10

## Load Courses

http_reqs: 14747
http_req_duration - median: 6.63ms
http_req_duration - 99th percentile: 34.53ms


## Load Course Info

http_reqs: 9890
http_req_duration - median: 9.96ms
http_req_duration - 99th percentile: 23.85ms

## Load Question Info

http_reqs: 12126
http_req_duration - median: 8.11ms
http_req_duration - 99th percentile: 15.57ms

## Add question

http_reqs: 6726
http_req_duration - median: 14.69ms
http_req_duration - 99th percentile: 40.4ms

## Upvote question

http_reqs: 11007
http_req_duration - median: 8.94ms
http_req_duration - 99th percentile: 18.9ms



